.lista-suspensa label{
    display: block;
    margin-bottom: 8px;
    font-size: 1.12rem;
    font-weight: bold;
}
.lista-suspensa select{
    background-color: var(--colorWhite) ;
    color: var(--corTextoInput);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 1rem;
    padding: 24px;
    box-sizing: border-box;
}